 <div class="container">
      <div class="row">
        <div class="col-sm-4" ng-controller="TableCtrl" ng-cloak>
          <div class="alert alert-info">
            <!-- <p>Sort Type: {{ sortType }} {{ 25 * 4}}</p>
            <p>Sort Reverse: {{ sortReverse }}</p> -->
            <p>Search Query: {{ player_last_name }}</p>
          </div>

          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

                <input type="text" class="form-control" placeholder="Search your favorite player!" ng-model="player_last_name">

              </div>      
            </div>
          </form>

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>
                 #
                </td>
                <td>
                  First Name
                </td>
                <td>
                  Last Name
                </td>
                <td>
                  Birth year
                </td>
                <td>
                  Height (in inches)
                </td>
                <td>
                  Weight (in pounds)
                </td>
                <td>
                  Birth City
                </td>
                <td>
                  Birth State
                </td>
                <td>
                  MLB Debut
                </td>
                <td>
                  MLB Final Game
                </td>
              </tr>
            </thead>
            <!-- {"nameFirst": "Danny", "weight": "160", "birthState": "PA", "debut": "1932-09-18", "height": "69", "birthYear": "1905", "birthCity": "Zion", "baseball_ref_url": "http://www.baseball-reference.com/players/m/musseda01.shtml", "finalGame": "1932-09-18", "nameLast": "Musser"}]; -->
            <tbody>
              <tr ng-repeat="player in player_data  | orderBy:sortType:sortReverse | filter:player_last_name">
                <td>{{ $index }}</td>
                <td>{{ player.nameFirst }}</td>
                <td>{{ player.nameLast }}</td>
                <td>{{ player.birthYear }}</td>
                <td>{{ player.height }}</td>
                <td>{{ player.weight }}</td>
                <td>{{ player.birthCity }}</td>
                <td>{{ player.birthState }}</td>
                <td>{{ player.debut }}</td>
                <td>{{ player.finalGame }}</td>


              </tr>
            </tbody>    
          </table>
        </div>
      </div>
</div>